@import url(./font.css);


:root {
    --RR: 'Roboto-Regular';
    --RB: 'Roboto-Bold';
    --light: #fff;
    --gold: #D57300;
    --dark: #322E41;
    --violet: #544294;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/**************************************************** header started *******************************************/

.page__header {
    background-color: var(--dark);
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__link {
    color: var(--light);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0%;
    padding: 23px 14px;
    transition: .4s;
}

.nav__link:hover {
    background-color: var(--light);
    color: var(--gold);
}

/************************************ header section finished *****************************************/


/*********************************** banner section started *******************************************/

.banner {
    background-image: url(../image/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: var(--light);
}

.banner__title {
    font-family: var(--RB);
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.banner__text {
    color: var(--light);
    font-family: var(--RB);
    font-size: 18px;
    line-height: 21px;
}

/*************************************** banner section finished ************************************/

/****************************************category section started  **********************************/

.category {
    background: rgba(235, 235, 235, 1);
}

.category__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    transform: translateY(-40px);
}

.content__item {
    padding: 15px;
    background-color: var(--light);
    border-radius: 6px;
}

.content__item:nth-of-type(1) {
    grid-column: span 2;
    grid-row: span 2;
}

.content__item:nth-of-type(1) img {
    max-width: 510px;
    width: 100%;
    display: block;
}

.item__title {
    color: var(--dark);
    font-family: var(--RB);
    font-size: 22px;
    line-height: 26px;
    margin: 20px 0 10px;
}

.item__text {
    color: rgba(155, 155, 155, 1);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 19px;
}

.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-left {
    align-self: flex-start;
}


.text-center {
    margin-block: 12px;
}

/****************************************category section finished  **********************************/

/****************************************footer section started  *************************************/

.page__footer {
    background-color: var(--dark);
    padding: 47px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__form {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input,
.form__textarea {
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
}

.form__input:focus,
.form__textarea:focus {
    outline: 1px solid var(--gold);
}

::placeholder {
    color: rgba(155, 155, 155, 1);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 13px;
}

.form__textarea {
    resize: none;
}

.form__submit {
    background-color: var(--violet);
    color: var(--light);
    padding: 6px 0;
    border: none;
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 13px;
    cursor: pointer;
}


.footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 106px;
    width: 237px;
    gap: 10px;

}

.footer__nav-link {
    color: var(--light);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 19px;
    transition: .3s;
}

.footer__nav-link:hover {
    color: var(--gold);
}

.social__media {
    display: flex;
    align-items: center;
    gap: 15px;
}

/****************************************footer section finished  *************************************/


/* Media Query */

@media(max-width: 1100px) {
    .category__content {
        gap: 20px;
    }
}

@media(max-width: 1024px) {
    .category__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .content__item:nth-of-type(1) {
        align-items: start;
    }
}

@media(max-width: 820px) {

    .header__logo {
        position: relative;
        z-index: 10;
    }


    .header__nav {
        position: absolute;
        height: 100vh;
        background-color: var(--dark);
        width: 45%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border-left: 1px solid var(--violet);
        transition: 0.4s;
        padding-left: 30px;
    }

    .header__nav.active {
        transform: translateX(0);

    }

    .nav__link {
        padding-inline: 0px;
    }

    .burger__menu {
        width: 30px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .burger__menu>span {
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    .footer__content {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .banner {
        height: 400px;
        gap: 10px;
    }

    .banner__title {
        font-size: 40px;
        line-height: 100%;
    }

    .banner__text {
        font-size: 16px;
    }
}

@media(max-width: 425px) {
    .header__nav {
        width: 75%;
    }

    .content__item {
        padding: 10px;
    }

    .item__title {
        font-size: 18px;
        margin: 10px 0;
        line-height: 100%;
    }

    .item__text {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }
}